

td {
  height: 128px;
  width: 128px;



}

img {
  height: 128px;
  width: 128px;
  padding: -2px;
  margin: -2px;
}

div#table {
  border-style: solid;
  width: 2304px;
  height: 1920px;
  padding: 40px;
  margin: 40px;
}
