

td {
  height: 128px;
  width: 128px;

}

img {
  height: 128px;
  width: 128px;
  padding: -2px;
  margin: -2px;
}


.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 0px;

  padding: 10px;
}

#gridTable {
  border-style: solid;
}

table#grid {
  width: 1152px;
  height: 1152px;
  margin: 0px;

}

h2#warning {
  display: none;
}

h3#warning {
  display: none;
}

#map {
  width: 1176px;
  height: 1176px;
  margin: 0px;
  border-style: solid;

}
html, body {
  /* zoom: 70%; */
  height: 100%;
  margin: 0;
  padding: 0;
}
