

td {
  height: 128px;
  width: 128px;



}

img {
  height: 128px;
  width: 128px;
  padding: -2px;
  margin: -2px;
}

div#table {
  margin: 40px;
}

div#grid {
  z-index: 3;
}

table#grid {
  border-style: solid;
  width: 1152px;
  height: 1152px;
  margin: 40px;
  float: left;
  display: none;
}

h2#warning {
  display: none;
}

h3#warning {
  display: none;
}
#map {
  width: 1152px;
  height: 1152px;
  margin: 40px;
  float: right;
  display: none;

}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
